# Backend
backend/node_modules
backend/npm-debug.log*
backend/.npm
backend/db/storage_performance.db
backend/uploads/*
# Frontend
frontend/node_modules
frontend/dist
frontend/npm-debug.log*
frontend/.npm
# Common
node_modules