# Node.js
node_modules/

# ignore all __pycache__ in all subdirectories (backend)
backend/venv/
__pycache__
*.pyc
*.pyo

# Logs
logs
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
build/
dist/

# Misc
.DS_Store

# TypeScript
tsconfig.tsbuildinfo

# Environment variables
.env

# SQLite database
storage_performance.db

# Vite
.vite

# Backend database
db/
uploads/

# Example Data
example-data/
backend/uploads/
